
.dashboard {
    width: 100%;
    overflow: scroll;
    padding: 40px 40px;
    height: 95.83%;
  }
  
  .dashboardHeadings {
    display: flex;
    flex-direction: column;
    gap: 12px;
  
  }
  
  
  .dashboardHeadings h2 {
    color: #6418C3;
  
    /* Headline/Small */
    font-family: Lexend;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.25rem;
    /* 112.5% */
  }
  
  .dashboardHeadings p {
    color: var(--text-secondary, #728197);
  
    /* Body/Large */
    font-family: Lexend;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    /* 150% */
  }
  
  /* dashboard cards */
  
  .dashboardCards {
    display: flex;
    align-items: flex-start;
    gap: 71px;
    width: 100%;
    padding: 29.997px 75px 28.003px 50px;
    align-items: center;
  
    border-radius: 12px;
    background: var(--surface-white, #FFF);
    margin-top: 32px;
  
    /* card effect */
    box-shadow: 0px 10px 13px 0px rgba(17, 38, 146, 0.05);
  }
  
  /* dashboard charts */
  .spendAnalysis {
    width: 935px;
    height: 469px;
    flex-shrink: 0;
  
    border-radius: 12px;
    background: #FFF;
  
    /* card effect */
    box-shadow: 0px 10px 13px 0px rgba(17, 38, 146, 0.05);
  }
  
  .requisitionStats {
    width: 588px;
    height: 468px;
    border-radius: 12px;
    background: #FFF;
  
    /* CARDS */
    box-shadow: 0px 10px 13px 0px rgba(17, 38, 146, 0.05);
  }
  
  .dashboardCharts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  
  }
  
  /* purchase ordr */
  .purchaseOrder {
    width: 100%;
    height: 472px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #FFF;
    margin-top: 32px;
  }
  
  /* dashboard charts 2 */
  .dashboardChartsTwo {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .dashboardChartsTwo {
    margin-top: 32px;
  }
  
  .requestDay {
    width: 336px;
    height: 462px;
    flex-shrink: 0;
    background-color: #fff;
  }
  
  .monthlyExpense {
    width: 684px;
    height: 462px;
    flex-shrink: 0;
  
    background: #FFF;
  filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.50));
  }