/* order line table */
.order-table {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.order-header {
    margin-bottom: 20px;
    border-radius: 10px;
}

.order-header,
.order-body {
    width: 100%;
    height: 47px;
    flex-shrink: 0;
    background-color: var(--White-Color, #FFF);

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

}

.body-row {
    width: 100%;
    height: fit-content;
    background-color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}



.order-body {
    height: 65px;
    flex-shrink: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.077);
}

.order-first-row {
    border: none;
}

.order-col {
    width: 150px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.order-col p {
    color: #727272;

    /* Title/Medium */
    font-family: Lexend;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.125rem;
    /* 112.5% */

}

.order-body .order-col p {
    color: #25213B;

    /* Body/Large */
    font-family: Lexend;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    /* 150% */
}

.order-status {
    color: #474747;
    font-family: Cairo;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    border-radius: 9px 9px 12px 12px;
    background: rgba(81, 81, 81, 0.07);
    padding: 12px 24px;
    flex-shrink: 0;
}

.orderColMore {
    width: 50px;
}

.orderColMore img {
    width: 33.764px;
    height: 24px;
    flex-shrink: 0;
}

/* className="h-color */
/* order line table */