* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: #F5F6FA;
}
button{
  cursor: pointer;
}
.app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.app-left {
  width: 14.42%;
  background-color: #fff;
  height: 100%;
}

.app-right {
  width: 85.42%;
}

header {
  width: 100%;
  height: 80px;
  flex-shrink: 0;
  background-color: #fff;
}

