/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
} */

/* spllieers cards startsss */

.headin {
    width: 100%;
}

.line {
    width: 408px;
    height: 1px;
    opacity: 0.05;
    background: #030229;
}

.top-suplier {
    width: 465px;
    height: 462px;
    flex-shrink: 0;
    height: fit-content;
    background-color: #fff;
    flex-shrink: 0;
    padding: 20px 30px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
}

.head-row,
.sup-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 55px;
    align-items: center;
}

.col {
    width: 140px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.head-row .col:nth-child(1),
.sup-details .col:nth-child(1) {
    width: 170px;
    justify-content: space-between;
}

.avatar {
    display: flex;
    align-items: center;
    gap: 8px;
}

.avatar img {
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.total-order {
    width: 61px;
    height: 30px;
    flex-shrink: 0;

    border-radius: 8px;
    background: var(--brand-tertiary, #b3beff49);
}

.total-order p {
    color: var(--brand-secondary, #7F77FF);
    text-align: center;
    font-family: Nunito;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* spllieers cards startsss ends */